include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include dt_dfm_hr_integration *.css
recursive-include dt_dfm_hr_integration *.csv
recursive-include dt_dfm_hr_integration *.html
recursive-include dt_dfm_hr_integration *.ico
recursive-include dt_dfm_hr_integration *.js
recursive-include dt_dfm_hr_integration *.json
recursive-include dt_dfm_hr_integration *.md
recursive-include dt_dfm_hr_integration *.png
recursive-include dt_dfm_hr_integration *.py
recursive-include dt_dfm_hr_integration *.svg
recursive-include dt_dfm_hr_integration *.txt
recursive-exclude dt_dfm_hr_integration *.pyc